@import './reset.css';
@import './attribution.css';

@font-face {
	font-family: 'DM Sans';
	src: url('../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf')
		format('truetype');
	font-display: swap;
	font-weight: 400 500;
}

:root {
	--font-main-font: 'DM Sans', sans-serif;
	--color-purple-100: #dacffc;
	--color-purple-500: #7650dc;
	--color-yellow-100: #f9eee1;
	--color-yellow-500: #ffcb6b;
	--color-white: #f9eee1;
	--color-black: #121212;
}

html {
	font-size: 18px;
}

body {
	background-color: white;
	font-family: var(--font-main-font);
	display: grid;
	grid-area: 'main' 'footer';
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	min-height: 100vh;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 2rem;
}

article {
	border-radius: 0.5rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;

	&.reverse {
		flex-direction: column-reverse;
	}
}

.social-media {
	color: white;
	background-color: var(--color-purple-500);
	grid-column: span 2;
}
